<template>
  <div class="shorten">
    <ShortenUrl />
  </div>
</template>

<script>

import ShortenUrl from "@/components/ShortenUrl.vue";

export default {
  name: "Shorten",
  components: {
    ShortenUrl
  }
};
</script>
