<template>
  <section class="shorten-url">
    <div class="col-md-4 m-auto">
      <div class="create-new">
        <b-form inline>
          <label class="sr-only" for="form-url">Name</label>
          <b-input
                  id="form-url"
                  class="mb-2 mr-sm-2 mb-sm-0"
                  placeholder="Enter url"
                  name="url"
                  v-model="form.url"
          ></b-input>

          <b-button variant="primary" v-on:click="this.store">Create short url</b-button>
        </b-form>
      </div>
      <div class="errors mt-5 text-danger">
        <p v-for="(error,key) in errors" :key="key">
          <code>{{error}}</code>
        </p>
      </div>
    </div>
    <div class="lists col-md-8 m-auto">
      <div class="mt-5">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Original url</th>
            <th>Short url</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="shortenUrl in shortenUrls" :key="shortenUrl.id">
            <td>{{shortenUrl.original_url}}</td>
            <td>{{publicUrl+shortenUrl.short_url}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>

<script>
  import { baseInfo } from "../config";
  const axios = require("axios").default;

  export default {
    name: "ShortenUrl",
    data: function() {
      return {
        shortenUrls: [],
        form: {
          url:''
        },
        errors: [],
        publicUrl: baseInfo.publicUrl,
      };
    },
    created() {
      this.index();
    },
    methods: {
      index: function() {
        axios.get(baseInfo.url + 'shorten-url')
           .then(response => {
              this.shortenUrls = response.data;
              this.reset();
           }).catch(error => {
              this.errors = error.response.data;
           });
      },
      store: function() {
        let body = { original_url:this.form.url};

        axios.post(baseInfo.url + 'shorten-url', body)
           .then(response => {
              this.shortenUrls = response.data;
              this.index();
              this.reset();
           }).catch(error => {
              this.errors = error.response.data;
           });
      },
      delete: function() {
        //
      },
      copyUrl: function () {
        //
      },
      reset: function () {
        this.errors = [];
        this.form = {
          url: ''
        };
      }
    }
  };
</script>