<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Shorten Url</router-link>
    </div>
    <div class="container">
      <router-view />
    </div>
  </div>
</template>

<style>
  @import "./assets/styles/app.css";
</style>
